.DS_Store
/MLGLTFPlugin/MLGLTFPlugin.xcodeproj/project.xcworkspace/xcuserdata/mtoon.xcuserdatad/UserInterfaceState.xcuserstate
/MLGLTFPlugin/MLGLTFPlugin.xcodeproj/xcuserdata/mtoon.xcuserdatad/xcschemes/xcschememanagement.plist
